@import "common.less";

#chat {
    float: right;
    width: 30%;
    background-color: #dca;
    padding-left: 0.5em;
    padding-right: 0.5em;
    .rounded-corners;
}

#new-chat {
    margin-top: 4px;
    width: 100%;
}

#new-chat-submit {
    float: right;
    margin-bottom: 4px;
}

#chats {
    clear: both;
    margin-bottom: 6px;
}

.old-chat {
    .rounded-corners(2px);
    margin-top: 3px;
  -webkit-transition: background-color 0.5s linear 0;
     -moz-transition: background-color 0.5s linear 0;
      -ms-transition: background-color 0.5s linear 0;
       -o-transition: background-color 0.5s linear 0;
          transition: background-color 0.5s linear 0;
}

.old-old-chat {
    background-color: yellow;
}

.new-old-chat {
    background-color: #eee;
}