@textColor: #555555;

@smallScreenMax: 480;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.property-transition (@property,@duration,@timingfunc,@delay) {
  -webkit-transition: @property @duration @timingfunc @delay;
     -moz-transition: @property @duration @timingfunc @delay;
      -ms-transition: @property @duration @timingfunc @delay;
       -o-transition: @property @duration @timingfunc @delay;
          transition: @property @duration @timingfunc @delay;
}
