@import "../common.less";

@big-font-size: 24px;

h1 {
    color: @textColor;
    font-size: @big-font-size;
}

#enter-username {
    font-size: (@big-font-size - 5);
}

#display-username {
    text-decoration: none;
    border-style: dotted;
    border-width: 1px;
    border-color: #aaa;
}